# Editors
.idea/
.vscode/

# dotenv environment variables file
.env

# Dependency directories
node_modules/

# Build output
bin/
dist/
*.tgz

# Package lock files
package-lock.json

# TypeScript cache
*.tsbuildinfo
